.SlideContainer{
  position: relative;
    display: flex;
    width: 100%;
    min-height: 600px;
    background-image: url(seagulltrafficreporter.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.slide1, .slide2, .slide3{
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  max-height: 400px;
    min-height: 400px;
    width: 20%;
    border-radius: 4px;
    position: relative;
    background-color: rgba(255,255,255,0.8);
    margin: 1%;
    padding: 2%;
    font-family: 'Varela Round', sans-serif;
    opacity: 0.5;
transition: 0.5s;
}
.slide1:hover, .slide2:hover, .slide3:hover {
opacity: 1;

}
.slide1 button, .slide2 button, .slide3 button {


    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 15%;
    position: absolute;
    border-radius: 4px;
    transition: background-color 1s;
    background-color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}



}
button:hover {
  background-color: grey;
}
h1
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: rgb(71, 71, 71);
  color: whitesmoke;
  font-size: xx-large;
  padding: 2%;



}
h2
{
  font-style: italic;
  text-align: center;
  background-color: whitesmoke;
  color: rgb(71, 71, 71);
background-image: cross-fade();


}
img{


}
